puts 'We need the sudo password to enable the nfs shares'
system "sudo echo 'Done'"
Vagrant.configure(2) do |config|
  config.vm.box = 'dbox.20150927'
  config.vm.network :forwarded_port, guest: 80, host: 8080
  config.vm.network :forwarded_port, guest: 8000, host: 8000
  config.vm.network :forwarded_port, guest: 3000, host: 3000
  config.vm.network 'private_network', type: 'dhcp' # required for nfs shared folders
  config.vm.synced_folder '.', '/vagrant', type: 'nfs'
  config.ssh.forward_agent = true
  config.vm.provider 'virtualbox' do |v|
    v.customize ["guestproperty", "set", :id, "/VirtualBox/GuestAdd/VBoxService/--timesync-set-threshold", 10000]
    v.memory = 2048
    v.cpus = 2
  end
end
